.sx-admin-filters-form-wrapper .tab-content
{
    box-shadow: inset 0 1px 0 #fff/*, inset 0 0 2px -1px rgba(232,19,64, 1)*/;
    background: #EFF3F4;
    border-radius: 0px 4px 4px 4px;
    border-bottom: 1px solid #adbdca;
    border-right: 1px solid #adbdca;
    border-top: 1px solid #adbdca;
    border-left: 1px solid #adbdca;
    padding: 5px;
    border-color: #d6dfe1 #ced7d8 #969d9e #bec7c8;
    margin-bottom: 10px;
}

.sx-admin-filters-form
{
    padding-top: 10px;
}

.sx-admin-filters-form .form-group:hover
{
    background: rgba(93, 195, 231, 0.15);
}

.sx-admin-filters-form .form-group-footer:hover
{
    background: none;
}
.sx-admin-filters-form-wrapper
{
    margin-bottom: 10px;
}
.sx-admin-filters-form-wrapper .form-horizontal .form-group
{
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.sx-admin-filters-form-wrapper .nav-tabs
{
    border: 0px;
}

.sx-admin-filters-form-wrapper .nav-tabs>li.active>a
{
    background-color: #EFF3F4;
    border-right: 1px solid #adbdca;
    border-left: 1px solid #adbdca;
    border-top: 1px solid #adbdca;
    font-weight: bold;
}
.sx-admin-filters-form-wrapper .nav-tabs>li>a
{
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
}
.sx-admin-filters-form-wrapper .nav-tabs>li
{
    margin-bottom: -1px;
    margin-right: 3px;
}

.sx-admin-filters-form-wrapper .dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 12px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f8f9fa;
    border-left: 8px solid transparent;
    content: ''
}
.sx-admin-filters-form-wrapper .dropdown-menu:before {
    position: absolute;
    top: -9.5px;
    right: 12px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d1d4d7;
    border-left: 8px solid transparent;
    content: '';
}

.sx-default-hidden
{
    display: none;
}

.sx-admin-filters-form-wrapper .form-horizontal .form-group{
    margin-right: 0;
    margin-left: 0;
}


.sx-admin-filters-form .dropdown-menu-big
{
    max-height: 300px;
    overflow: auto;
}

